VITE_FIREBASE_API_KEY=AIzaSyAVkaesLn_tJcdCXGAMSeLQRBqoBp6ZlkU
VITE_FIREBASE_AUTH_DOMAIN=graphiql-1c61e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=graphiql-1c61e
VITE_FIREBASE_STORAGE_BUCKET=graphiql-1c61e.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=760555551468
VITE_FIREBASE_APP_ID=1:760555551468:web:d49b6f557e8737784303c9


Rename to .env and delete this text