.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.sandboxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.editorWrapper {
  width: 100%;
  position: relative;
}

.jsonViewer {
  width: 100%;
}

@media (max-width: 800px) {
  .sandboxWrapper {
    flex-wrap: wrap;
  }

  .editorWrapper,
  .jsonViewer {
    max-width: 600px;
  }
}
