.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  min-height: calc(100vh - 227px);
  padding: 24px;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
}

@media (max-width: 400px) {
  .content {
    padding: 24px 10px;
  }
}
