.auth-container {
  margin: auto;
  width: fit-content;
  padding: 20px;
}

.auth-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: fit-content;
}
