@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-dark: #070310;
  --secondary-dark: #fff;
  --secondary-light: #000;
  --accent: #e10098;
  --header: #21202e;
  --header-light: #fafafa;
  --border: #232a2f;
  --dimming: #00000099;
}

#root {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.MuiFormHelperText-root {
  height: 0;
}

button.MuiToggleButton-root {
  color: gray;
  border: none;
}

button.MuiToggleButton-root.Mui-selected {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}
